# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_SECRET=""